<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


       <bean id="GeoDomainDocumentDao"
             class="com.github.p4535992.extractor.object.impl.hibernate.GeoDocumentHibernateDaoImpl">
              <property name="sessionFactory" ref="sessionFactory" />
       </bean>

     <!--  <bean id="WebsiteDao" class="object.impl.hibernate.WebsiteDaoImpl">
              <property column="sessionFactory" ref="sessionFactory" />
       </bean>
       <bean id="GeoDocumentDao" class="object.impl.hibernate.GeoDocumentDaoImpl">
              <property column="sessionFactory" ref="sessionFactory" />
       </bean>
       <bean id="InfoDocumentDao" class="object.impl.jdbc.InfoDocumentDaoImpl">
              <property column="sessionFactory" ref="sessionFactory" />
       </bean>
       <bean id="DocumentDao" class="object.impl.jdbc.DocumentDaoImpl">
              <property column="sessionFactory" ref="sessionFactory" />
       </bean>-->
</beans>