<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.0.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.0.xsd">

    <bean class="org.springframework.beans.factory.org.p4535992.mvc.home.initializer.org.p4535992.mvc.config.PropertyPlaceholderConfigurer">
        <property name="location">
            <value>spring_hibernate_files/database.properties</value>
        </property>
    </bean>

    <!-- We use Apache Commons DBCP for a data source with connection pooling capability: -->
    <bean id="dataSource" class="org.apache.commons.dbcp2.BasicDataSource" destroy-method="close">
        <property name="driverClassName" value="${jdbc.driverClassName}" />
        <property name="url" value="${jdbc.url}" />
        <property name="username" value="${jdbc.username}" />
        <property name="password" value="${jdbc.password}" />
    </bean>

    <!--
   <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
          <property name="driverClassName" value="${jdbc.driverClassName}" />
          <property name="url" value="${jdbc.url}" />
          <property name="username" value="${jdbc.username}" />
          <property name="password" value="${jdbc.password}" />
   </bean>
   -->

    <!-- The following declaration is for automatic transaction support for the SessionFactory:  -->
    <tx:annotation-driven />
    <bean id="transactionManager" class="org.springframework.orm.hibernate4.HibernateTransactionManager">
        <property name="sessionFactory" ref="hibernate4AnnotatedSessionFactory" />
    </bean>

   <!-- Configuring SessionFactory Bean: Hibernate 4 SessionFactory Bean definition with JPA-->
   <bean id="hibernate4AnnotatedSessionFactory" class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
          <property name="dataSource" ref="dataSource" />
          <property name="annotatedClasses">
                 <list>
                        <value>com.github.p4535992.extractor.object.model.Website</value>
                        <value>com.github.p4535992.extractor.object.model.GeoDocument</value>
                        <value>com.github.p4535992.extractor.object.model.GeoDomainDocument</value>
                        <value>com.github.p4535992.extractor.object.model.Document</value>
                        <value>com.github.p4535992.extractor.object.model.InfoDocument</value>
                 </list>
          </property>
          <property name="hibernateProperties">
                 <props>
                        <prop key="hibernate.dialect">org.hibernate.dialect.MySQLDialect</prop>
                        <prop key="hibernate.current_session_context_class">thread</prop>
                        <prop key="hibernate.show_sql">false</prop>
                 </props>
          </property>
   </bean>

   <!-- Configuring SessionFactory Bean: Hibernate 4 SessionFactory Bean definition with XML-->
   <!--
   <bean id="sessionFactory"  class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
       <property name="dataSource" ref="dataSource" />
       <property name="configLocation" value="classpath:hibernate.cfg.xml" />
   </bean>
   -->
    <!--
   <bean id="sessionFactory"  class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
       <property name="dataSource" ref="dataSource"></property>
       <property name="configLocation" value="classpath:hibernate.cfg.xml" />
       <property name="mappingResources">
           <list>
               <value>classpath:object.</value>
           </list>
       </property>
       <property name="hibernateProperties">
           <props>
               <prop key="hibernate.dialect">org.hibernate.dialect.Oracle9iDialect</prop>
               <prop key="hibernate.hbm2ddl.auto">update</prop>
               <prop key="hibernate.show_sql">true</prop>
           </props>
       </property>
   </bean>
   -->

   <!--<bean id="WebsiteDao" class="object.impl.jdbc.WebsiteDaoImpl">-->
          <!--<property name="sessionFactory" ref="hibernate4AnnotatedSessionFactory" />-->
   <!--</bean>-->
   <!--<bean id="GeoDocumentDao" class="object.impl.jdbc.GeoDocumentDaoImpl">-->
          <!--<property name="sessionFactory" ref="hibernate4AnnotatedSessionFactory" />-->
   <!--</bean>-->
   <bean id="GeoDomainDocumentDao" class="com.github.p4535992.extractor.object.impl.hibernate.GeoDocumentHibernateDaoImpl">
          <property name="sessionFactory" ref="hibernate4AnnotatedSessionFactory" />
   </bean>
   <!--<bean id="InfoDocumentDao" class="object.impl.jdbc.InfoDocumentDaoImpl">-->
          <!--<property name="sessionFactory" ref="hibernate4AnnotatedSessionFactory" />-->
   <!--</bean>-->
   <!--<bean id="DocumentDao" class="object.impl.jdbc.DocumentDaoImpl">-->
          <!--<property name="sessionFactory" ref="hibernate4AnnotatedSessionFactory" />-->
   <!--</bean>-->
</beans>
